@page "/"
@using PolicyBased.Infra.Models
@using PolicyBased.Infra.Persistence.Repositories
@using PolicyDtos = PolicyBased.Infra.Dtos;
@inject IUserRepo UserRepo;
@inject IDialogService dialogService;
@inject IToastService toastService;

<PageTitle>Policies</PageTitle>

<FluentBreadcrumb>
    <FluentBreadcrumbItem Href="#">
        <h5>
            Policy Management Workspace
        </h5>
    </FluentBreadcrumbItem>
</FluentBreadcrumb>

@if (isLoading)
{
    <FluentCard class="card-padding">
        <FluentSkeleton Shape="SkeletonShape.Rect" Height="10px;" Width="150px"></FluentSkeleton>
        <FluentSkeleton Style="margin-top: 10px" Height="10px;" Width="550px"></FluentSkeleton>
        <FluentSkeleton Style="margin-top: 10px" Height="10px;" Width="550px"></FluentSkeleton>
        <FluentSkeleton Style="margin-top: 10px" Height="10px;" Width="550px"></FluentSkeleton>
        <FluentSkeleton Style="margin-top: 10px" Height="10px;" Width="550px"></FluentSkeleton>
        <FluentSkeleton Style="margin-top: 10px" Height="10px;" Width="150px"></FluentSkeleton>
    </FluentCard>
}
else
{
    <FluentStack Orientation="Orientation.Horizontal" Style="width:100%">

        <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.End" Style="width:75%">

            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">

                <FluentButton IconStart="@(new Icons.Regular.Size24.Add())" Appearance="Appearance.Accent"
                              OnClick="@OpenAsync">New App</FluentButton>
                <FluentButton IconStart="@(new Icons.Regular.Size24.Add())" Appearance="Appearance.Accent"
                              OnClick="(()=>ToggleNewPolicy(isCancel:false))">Policy</FluentButton>
            </FluentStack>

            <FluentDataGrid Items="@appPolicyList.AsQueryable()" ItemKey="(a=>a.Id)" ResizableColumns="false" style="width:100%"
                            GridTemplateColumns="0.3fr 1fr">
                <EmptyContent>No Applications</EmptyContent>
                <ChildContent>
                    <PropertyColumn Align="Align.Start" Property="@(a => a.Name)" Title="Application Name" Sortable="true" />
                    <TemplateColumn Title="Policy" Context="policyContext" Align="Align.Start">
                        <FluentDataGrid Items="@policyContext.Policies.AsQueryable()" GenerateHeader="GenerateHeaderOption.None" GridTemplateColumns="0.2fr 0.4fr 0.8fr">
                            <EmptyContent>No policies</EmptyContent>
                            <ChildContent>
                                <TemplateColumn Title="Actions" Context="pContext">
                                    @{
                                        int policId = pContext.Id;
                                        string policyEditUrl = $"/Policies/Edit/{policId}";
                                    }
                                    <FluentAnchor Href="@policyEditUrl" Appearance="Appearance.Hypertext" IconStart="@(new Icons.Regular.Size24.Edit())">
                                    </FluentAnchor>
                                    <FluentButton OnClick="(()=>DeletePolicy(pContext.Id, pContext.Name))" IconStart="@(new Icons.Regular.Size24.Delete())"></FluentButton>
                                </TemplateColumn>
                                <PropertyColumn Property="@(p => p.Name)" Sortable="false" />
                                <TemplateColumn Context="permContext">
                                    @{
                                        var roles = permContext.Roles.AsQueryable();
                                    }
                                    <FluentDataGrid Items="@roles" GridTemplateColumns="0.5fr 0.5fr">
                                        <EmptyContent>No Roles</EmptyContent>
                                        <ChildContent>
                                            <PropertyColumn Property="@(p => p.Name)" Title="Role" Sortable="false" />
                                            <TemplateColumn Title="Permissions" Context="roleContext">
                                                @{
                                                    string[] perms = roleContext.Permissions.Select(a => a.Name).ToArray();
                                                    MarkupString permsNames = (MarkupString)string.Join("<br/>", perms);
                                                }
                                                <FluentLabel>@permsNames</FluentLabel>
                                            </TemplateColumn>
                                        </ChildContent>
                                    </FluentDataGrid>
                                </TemplateColumn>
                            </ChildContent>
                        </FluentDataGrid>
                    </TemplateColumn>
                </ChildContent>

            </FluentDataGrid>
        </FluentStack>

        <FluentDivider Role="DividerRole.Separator" Orientation="Orientation.Vertical" Style="height: 500px;"></FluentDivider>

        @if (showAddNewPolicy)
        {
            <FluentStack Orientation="Orientation.Vertical" Style="width:20%;">
                <FluentSelect Items="appPolicyList" OptionText="(a=>a.Name)" OptionValue="(a=>a.Id.ToString())" @bind-SelectedOption="@selectedApp"></FluentSelect>
                <FluentTextField Placeholder="Policy Name" Size="31" @bind-Value="newPolicyName"></FluentTextField>
                <FluentStack Orientation="Orientation.Horizontal">
                    <FluentButton OnClick="(()=>AddNewPolicy())" Disabled="string.IsNullOrEmpty(newPolicyName)" Appearance="Appearance.Accent">Save</FluentButton>
                    <FluentButton OnClick="(()=>ToggleNewPolicy(isCancel:true))">Cancel</FluentButton>
                </FluentStack>
                <FluentStack Orientation="Orientation.Horizontal">

                    @if (newPolicyEditUrl != string.Empty)
                    {
                        <FluentAnchor Appearance="Appearance.Hypertext" Href="@newPolicyEditUrl">Configure the policy</FluentAnchor>
                    }
                </FluentStack>
            </FluentStack>
        }
    </FluentStack>
}
@code {
    List<PolicyDtos.Application>? appPolicyList = new();
    int currentAppId;
    bool showAddNewPolicy = false;
    string newPolicyName = string.Empty;
    string newPolicyEditUrl = string.Empty;
    bool isLoading = true;
    PolicyDtos.Application selectedApp { get; set; } = default!;
    protected override async Task OnInitializedAsync()
    {
        await LoadAppPolicies();
        isLoading = false;
    }

    async Task LoadAppPolicies()
    {
        var allPolicies = await UserRepo.GetPolicies();
        appPolicyList = allPolicies;
        if (allPolicies?.Any() == true)
        {
            selectedApp = allPolicies.FirstOrDefault()!;
        }
    }

    void ToggleNewPolicy(bool isCancel)
    {
        if (!isCancel)
        {
            showAddNewPolicy = true;
        }
        else
        {
            newPolicyName = string.Empty;
            showAddNewPolicy = false;

        }
    }

    async Task AddNewPolicy()
    {
        if (selectedApp != null)
        {
            int newPolicyId = await UserRepo.AddNewPolicy(newPolicyName, selectedApp.Id);
            newPolicyEditUrl = $"/Policies/Edit/{newPolicyId}";
            appPolicyList.FirstOrDefault(a => a.Id == selectedApp.Id).Policies.Add(new PolicyDtos.Policy() { Name = newPolicyName, Id = newPolicyId });
            toastService.ShowSuccess($"Policy {newPolicyName} added successfully");
        }
        else
        {
            toastService.ShowError("Choose the Application Id");
        }
    }

    async Task DeletePolicy(int policyId, string policyName)
    {
        var dialog = await dialogService.ShowConfirmationAsync($"Do you want to delete the policy {policyName}?", "Yup", "Nope", "Delete Policy");
        var result = await dialog.Result;
        var canceled = result.Cancelled;

        if (!canceled)
        {
            var isDeleted = await UserRepo.DeletePolicy(policyId); ;
            if (isDeleted)
            {
                toastService.ShowSuccess($"Policy {policyName} deleted", 5000);
                var allPolicies = await UserRepo.GetPolicies();
                appPolicyList = allPolicies;
                StateHasChanged();
            }
            else
            {
                toastService.ShowError($"Error on deleting the policy {policyName}", 5000);
            }
        }

    }

    PolicyDtos.Application DialogData { get; set; } = new PolicyDtos.Application();

    private async Task OpenAsync()
    {
        var dialog = await dialogService.ShowDialogAsync<NewApplicationDialog>(DialogData, new DialogParameters()
            {
                Height = "240px",
                Title = $"Add New Application",
                PreventDismissOnOverlayClick = true,
                //OnDialogResult = dialogService.CreateDialogCallback(this, HandleDialog),
                PreventScroll = true,
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null)
        {
            DialogData = (PolicyDtos.Application)result.Data;
            toastService.ShowSuccess($"Application {DialogData.Name} is created");
            await LoadAppPolicies();
        }
    }

    private async Task HandleDialog(DialogResult result)
    {
        if (result.Cancelled)
        {
            return;
        }

        if (result.Data is not null)
        {
            var app = result.Data as PolicyDtos.Application;
            StateHasChanged();
            return;
        }

    }
}